<footer id="footer">
  <div class="container">
    <hr>

    <div class="row">
      <div class="col-sm-8">
        <p>&copy; {{ shop.name }}</p>
      </div>

      <div class="col-sm-4">
        {% include 'newsletter' %}
      </div>
    </div>
  </div>
</footer>