{{ 'vendor.js' | asset_url | script_tag }}
{{ 'app.js' | asset_url | script_tag }}

<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '889936827726380',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script>
  !function(d,s,id) {
    var js,fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js,fjs);
    }
  }(document, 'script', 'twitter-wjs');
</script>

<script type="text/javascript">
  (function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
  }(document));
</script>

<!-- AddShoppers Tracking Code Start -->
<script type="text/javascript">
  AddShoppersTracking = {
    image: '' // add URL for custom product image (RECOMMENDED if not using Product Schema)
  }
  var js = document.createElement('script'); js.type = 'text/javascript'; js.async = true; js.id = 'AddShoppers';
  js.src = ('https:' == document.location.protocol ? 'https://shop.pe' : 'http://cdn.shop.pe') + '/widget/widget_async.js#546e024ba38764546c6f6007';
  document.getElementsByTagName("head")[0].appendChild(js);
</script>
<!-- AddShoppers Tracking Code End -->

<!--AdRoll Start-->
<script type="text/javascript">
  adroll_adv_id = "MNPANDC3YZFOPCVZKZFWN4";
  adroll_pix_id = "VTBEO5SIJNAA3NHK6PNEMS";
  (function () {
    var oldonload = window.onload;
    window.onload = function(){
       __adroll_loaded=true;
    var scr = document.createElement("script");
       var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
       scr.setAttribute('async', 'true');
       scr.type = "text/javascript";
       scr.src = host + "/j/roundtrip.js";
       ((document.getElementsByTagName('head') || [null])[0] ||
      document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
       if(oldonload){oldonload()}};
  }());
</script>
<!--AdRoll End-->

<script type="text/javascript" charset="utf-8">
  var shappify_customer_tags = {{ customer.tags | json }}
</script>