<form action="http://blackanchorworkshop.us6.list-manage.com/subscribe/post?u=8b125004e897ae2aab6e0f40b&amp;id=76f1bf63fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="pull-right" target="_blank" novalidate>
  <div class="input-group">
    <input type="email" name="EMAIL" class="form-control"
      placeholder="Sign up for our mailing list!" required>

    <span class="input-group-btn">
      <button type="submit" name="subscribe" class="btn btn-primary">
        Send
      </button>
    </span>
  </div>
</form>