<section id="{{collection.handle}}">
  <header>
    <h2>{{ collection.title }}</h2>
  </header>

  <div class="content">
    <div class="row">
      {% for product in collection.products %}
      <div class="col-sm-3">
        <figure class="image">
          <a href="{{ product.url }}">
            <img src="{{ product.featured_image | product_img_url: 'large'}}"
              class="img-responsive">
          </a>
        </figure>
      </div>
      {% endfor %}
    </div>
  </div>
</section>