<div id="content">
  <div class="pane">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <section>
            <header>
              <h1>Reset Account Password</h1>
              <p class="text-muted">Enter a new password for {{ email }}</p>
            </header>

            <div class="content">
              {% form 'reset_customer_password' %}

                {% if form.errors %}
                <div class="alert alert-error">
                  {{ form.errors | default_errors }}
                </div>
                {% endif %}


                <div calss="form-group">
                  <label>New Password</label>

                  <input type="password" placeholder="Password" name="customer[password]" class="form-control input-lg">
                </div>

                <div class="form-group">
                  <label>Confirm Password</label>

                  <input type="password" placeholder="Password (again)" name="customer[password_confirmation]" class="form-control input-lg">
                </div>

                <button class="btn btn-primary" type="submit">
                  Reset Password
                </button>


              {% endform %}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
