<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head' %}
    {{ content_for_header }}
  </head>

  <body class="shop">
<!--     <div id="drawers" class="drawers">
      {% include 'drawer' %}
    </div> -->

    <div id="wrap">
      {% include 'header' %}

      <div id="content">
        {% if template == 'list-collections' %}
          {% include 'collection-listing' %}
        {% else %}
          {{ content_for_layout }}
        {% endif %}
      </div><!-- /#content -->

      {% include 'footer' %}
    </div><!-- /#wrap -->

    {% include 'foot' %}

  </body>
</html>