<!DOCTYPE html>
<html lang="en" ng-app="ba">
  <head>
    {% include 'head' %}
    {{ content_for_header }}
  </head>

  <body class="shop ng-cloak">
<!--     <div id="drawers" class="drawers">
      {% include 'drawer' %}
    </div> -->

    <div id="wrap">
      {% include 'header' %}

      <div id="content">
        {{ content_for_layout }}
      </div><!-- /#content -->

      {% include 'footer' %}
    </div><!-- /#wrap -->

    {% include 'foot' %}

  </body>
</html>