<div class="pane" ng-controller="cartCtrl">
  <div class="container">
    <section>
      <header>
        <h1 class="text-center">Cart</h1>
      </header>

      <div class="content">
        <div class="alert text-center"
          ng-hide="cart.item_count">
          <p>Your shopping cart is empty.</p>

          <p>
            <a href="/products/camera-strap" class="btn btn-default btn-rounded">
              Shop
            </a>
          </p>
        </div>

        <form action="/cart" method="post"
          ng-show="cart.item_count">
          <table class="table">
            <tr>
              <th class="item">Item</th>
              <th class="quantity">Qty</th>
              <th class="total hidden-xs">Total</th>
            </tr>

            <tr ng-repeat="item in cart.items"
              data-variant="item.variant.id">
              <td class="item">
                <div class="row row-centered">
                  <div class="col-sm-2">
                    <a href="[[item.url]]">
                      <img ng-src="[[item.image]]" height="50">
                    </a>
                  </div>

                  <div class="col-sm-10">
                    <h3 class="flush">
                      <a href="[[item.url]]">
                        [[ item.product_title ]]
                      </a>

                      <small>
                        [[ item.price/100 | currency ]]
                      </small>
                    </h3>

                    <h5 class="flush text-muted">
                      [[ item.variant_title ]]
                    </h5>
                  </div>
                </div>
              </td>

              <td class="quantity">
                <div class="input-group input-group-sm">
                  <span class="input-group-btn">
                    <a class="btn btn-default"
                      ng-click="update(item.id, item.quantity-1)">-</a>
                  </span>

                  <input type="text" class="form-control text-center"
                    name="updates[]" id="updates_{{ item.id }}"
                    ng-model="item.quantity"
                    ng-change="update(item.id, item.quantity)">

                  <span class="input-group-btn">
                    <a class="btn btn-default"
                      ng-click="update(item.id, item.quantity+1)">
                      +
                    </a>
                  </span>
                </div>
              </td>

              <td class="total hidden-xs">
                <h3 class="flush">[[ item.line_price/100 | currency ]]</h3>
              </td>
            </tr>

            <tr>
              <td colspan="4" class="text-right">
                <h3>
                  <small>Total</small>
                  [[ cart.total_price/100 | currency ]]
                </h3>
              </td>
            </tr>
          </table>

          <div class="text-center">
            <button name="checkout" type="submit" class="btn btn-primary btn-lg btn-rounded btn-outline">
              Checkout
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
