<div ng-controller="homeCtrl">
  <div class="hero hero-woods">
    <div class="container">
      <h4 class="hero-subtitle">Black Anchor Workshop</h4>
      <h1 class="her-title">Camera Strap</h1>
      <hr>
      <a href="/products/nylon-neck-camera-strap"
        class="btn btn-inverse btn-outline btn-rounded btn-lg">
        Preorder Now
      </a>
    </div>
  </div>
</div>