<div id="content" ng-controller="homeCtrl">
  <!-- <div class="hero hero-woods">
    <div class="container">
      <h4 class="hero-subtitle">Black Anchor</h4>
      <h1 class="her-title">Camera Strap</h1>
      <hr>
      <a href="/products/nylon-neck-camera-strap"
        class="btn btn-inverse btn-outline btn-rounded btn-lg">
        Preorder Now
      </a>
    </div>
  </div> -->

  <div class="hero hero-video" style="height:[[height]]px">
    <video autoplay loop class="hidden-xs">
      <source src="http://blog.blackanchorworkshop.com/videos/background-lowres.mp4" type="video/mp4">
      <img src="{{'hero-boat.png' | asset_url}}">
    </video>

    <img src="{{'hero-boat.png' | asset_url}}" class="visible-xs">

    <div class="hero-content">
      <div class="container">
        <h4 class="hero-subtitle">Black Anchor</h4>
        <h1 class="her-title">Camera Strap</h1>
        <hr>
        <a href="/products/nylon-neck-camera-strap"
          class="btn btn-inverse btn-outline btn-rounded btn-lg">
          Preorder Now
        </a>
      </div>
    </div>
  </div>

  <div ng-bind-html="dynamic"></div>
</div>