<div class="container">
  <ul class="nav nav-pills" id="info-tab">
    <li class="active">
      <a href="#about" data-toggle="tab">Why?</a>
    </li>
    <li>
      <a href="#story" data-toggle="tab">How it Began</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="about" class="tab-pane active">
      <h2>Black Anchor</h2>
      <p>We love to inspire a lifestyle of lasting goods. Our hearts and hands are invested in designing products that are beautiful, durable, and able to narrate incredible stories it’s owner will live for generations to come - for all to share. Sustainability through design is not only our passion, but our lifestyle.</p>
      <p><img src="https://cdn.shopify.com/s/files/1/0211/0380/t/4/assets/stephen-and-ally-jones-black-anchor-workshop.jpg"></p>
      <p>My wife, Ally, and I find that together we are passionate about many things. We enjoy having few possessions, and having them be nice ones. We try to learn about the things that we come to own so that we can make them last as long as possible. When this is applied to what we create as Black Anchor, it means that we put as much time as we can in the quality of a piece. We want the pieces we create to be heritage pieces, not to end up in landfills, but to be passed along for generations.</p>
      <h2>Tacoma, WA</h2>
      <p>Our workshop is located in Tacoma, Washington. Also known as the Gritty Port City. The environment speaks volumes to the craft. The Northwest is unparalleled when it comes to culture and environmental beauty.</p>
      <p>You can think of Seattle, Portland, and Tacoma as three brothers. Seattle is the hipster who grew up and got a job, Portland is the freethinker who refuses to get a job, and Tacoma is the hardworking brother who always had a job. No offense to our brother cities. We think they’re both awesome in their own ways.</p>
      <p>But Tacoma is it for us. When our city’s blue-collar grit and artistic verve slam into each other awesome things are born. Our design aesthetic - rugged, simple, functional, beautiful - mirrors the city that we love and call home.</p>
      <h2>Values</h2>
      <h3>Function + Durability</h3>
      <p>We spend a lot of time living life here in the Great Northwest. We build our pieces with function and durability in mind, which means they’ll stand up to your adventures – and stand the test time.</p>
      <h3>Environment + Beauty</h3>
      <p>Our leather working employs natural, environmentally friendly processes like vegetable tanning. This process also makes leather age beautifully. So hopefully one day your Black Anchor Workshop wallet or belt will go to your great grandchild, not to a landfill.</p>
      <h3>Community + Creativity</h3>
      <p>More than anything, we love our friends and family. We also value the things that are created or curated by these people. We like to design products that tell more than our own story, but the story of those that we love and the things that they cherish.</p>
    </div>

    <div id="story" class="tab-pane">
      <h2>The Story</h2>
      <p><img src="https://cdn.shopify.com/s/files/1/0211/0380/t/4/assets/stephen-Jones-loadmaster-c17-4.jpg"></p>
      <p>Back in 2012, while I was a flyer for the United States Air Force, I had a desire to start something that would have great meaning for myself. I was stationed in Germany for a short period of time, and during that time I was flying missions all over the Middle East. Kuwait, Qatar, Pakistan, Afghanistan, and everything that surrounded those countries.</p>
      <p>We were tasked for a special mission to fly Leon Panetta, the Secretary of Defense at the time, from Kuwait to an undisclosed location, and then to Afghanistan to meet with some higher ups. We weren’t given all of the details, but we knew it was important.</p>
      <p>When we escorted high ranking individuals we often flew with the “Silver Bullet”. A metal capsule that fit into our jet that was the exoskeleton of a mini suite. Leather sofas, armchairs, oak tables, a bed, restroom, and LED TV’s for the DV (distinguished visitor) to hold conference calls while in flight.</p>
      <p><img src="https://cdn.shopify.com/s/files/1/0211/0380/t/4/assets/c17-globemaster.jpg"></p>
      <p>We were equipped with a Raven and Viper team for the mission. The Raven’s defended the Aircraft while on the ground in austere locations where no defense was in existence. The Vipers managed the electronics and communications end of things. They made sure the DV’s had communication with the outside world.</p>
      <p>We made friends with the Viper team and we squeezed the wifi password out of them with little effort. This may have been outside of their protocol, but when you are flying around in the countries we were the rules were more like guidelines. We were in the Wild Wild East, after all.</p>
      <p>As I was taking a break and sitting in a seat just behind the captains chair, I was browsing my normal blogs to find inspiration on this new adventure I was wanting to take on. What that was, I had no idea. I stumbled across a video of an inspiring man in Omaha, Nebraska. His name is Chris and he started Artifact Bag Company, an incredible brand making high quality bags and aprons. I immediately fell in love with the idea of crafting a piece that would last a lifetime.</p>
      <p><img src="https://cdn.shopify.com/s/files/1/0211/0380/t/4/assets/cockpit-c17.jpg"></p>
      <p>We finished out the mission after a few days and while I was back in Germany I did some research to find a sewing machine. I was fortunate enough to find an industrial machine that was being auctioned off at Fort Lewis Army Post, just next door to McChord Air Force Base, where I was from. I started a bidding war with some people, but was relentless to outbid anyone that would get in the way of me and my new dream. The machine was being sold “As Is”, so it’s working state was unknown.</p>
      <p>The auction expired while I was in flight home, so with zero control over the final moment of the auction it was left up to fate. When I landed in Washington I went through the debrief and packed all of my equipment into my car. I sat in my front seat and got my phone out to check the auction.</p>
      <p>I had won.</p>
      <p>With a sigh of relief I headed over to the Army Base and picked up my new machine. I had never sewn before, let alone worked with leather or canvas. I drove the machine to my friends retail shop that had a large back room he used for storage. We unloaded it and plugged it in.</p>
      <p>It worked.</p>
      <p>The rest, they say, is history.</p>
    </div>
  </div>
</div>
