<div id="content">
  <div class="hero hero-shop">
    <div class="container"></div>
  </div>

  <div class="pane">
    <div class="container">
      <ul class="nav nav-pills" id="info-tab">
        <li class="active">
          <a href="#warranty" data-toggle="tab">Lifetime Guarantee</a>
        </li>
        <li>
        <li>
          <a href="#customerservice" data-toggle="tab">Shipping &amp; Returns</a>
        </li>
        <li>
          <a href="#contact" data-toggle="tab">Contact</a>
        </li>
      </ul>

      <hr>

      <div class="tab-content">
        <div id="warranty" class="tab-pane active">
          <h2>For A Lifetime</h2>
          <p>Our products aren’t made overseas in high-volume factories. They’re handmade with care in our small shop.</p>
          <p>That’s how we can fearlessly offer a <b>life-time guarantee</b> of our leather and canvas products for damages due to normal wear and tear.</p>
          <h3>Defining Normal Wear and Tear</h3>
          <p>We hate to get technical, but if you:</p>
          <ul>
            <li>Shred your Slim Wallet with a weedwhacker, that’s not normal wear and tear. That one’s on you.</li>
            <li>Burn a hole in your Black Anchor Duffle Bag with an acetyline torch, first of all, how are you alive? Second, we can’t help you.</li>
            <li>Drop your iPad Notebook down an ice fishing hole while playing candy crush, and later dive down and get it after the spring thaw, we can’t help you.</li>
          </ul>
          <p>You get the idea.</p>
          <p>If, in the course of regular use, our product fails, we’ll gladly repair it for you so you can keep the leather’s lovely patina, or, if it can’t be repaired, we’ll replace it with a new version of the same product.</p>
          <p> Beware, our styles change through the years, so try to embrace change with an open heart – it’s part of the adventure.</p>
          <h3>What Counts as Failing?</h3>
          <p>We’re glad you asked. Look for things like:</p>
          <ul>
            <li>Stitching coming undone</li>
            <li>Hardware falling off</li>
            <li>Leather disintegrating</li>
          </ul>
          <h3>What doesn't count?</h3>
          <p>Staining, scratches, gouges, etc. If your product takes on any of the above character, good on you. That means you’re living and we salute that, but we can’t replace items with superficial damage.</p>
          <p>NOTE: Since our lifetime guarantee is an above-and-beyond service, shipping costs for the exchange or repaired item will be charged to you, the customer.</p>
        </div>

        <div id="sizing" class="tab-pane">
          <h3>How to Choose Your Belt Size</h3>
          <p>First, measure the distance around your waist in inches. Second, using the handy"Waist Measurement"chart, follow it to the measurement you got from your waist, then draw an imaginary line, in your head, straight down to the "Black Anchor Belt Sizes" chart.</p>
          <p>Wherever your straight imaginary line lands is the size of belt that would fit you!</p>
          <p><img src="http://cdn.shopify.com/s/files/1/0211/0380/t/4/assets/beltsizechart.png?3368"></p>
          <p>To see an example, view the chart below. Anytime you land right between two sizes on the "Black Anchor Belt Sizes" chart, pick the larger belt size. No one likes a tight belt!</p>
          <p><img src="https://cdn.shopify.com/s/files/1/0211/0380/t/4/assets/beltsizingchartexample.jpg?4437"></p>
        </div>

        <div id="customerservice" class="tab-pane">
          <h2>Shipping Policy</h2>
          <h3>Domestic</h3>
          <p>Tracking numbers are provided for all orders shipped to the USA. Confirmation emails will be sent upon delivery. We ship via USPS, so please allow 24 hours for the tracking number to populate within the USPS tracking system.</p>
          <h3>International</h3>
          <p>All International orders are shipped via USPS. Tracking numbers are not included for international orders. Customs fees incurred from importing goods are not Black Anchors responsibility.</p>
          <h3>All Orders</h3>
          <p>Rejected packages and all additional costs related to shipping are assumed by the customer. <b>Please allow 7 to 14 days for orders to ship after they are placed because of the made to order nature of our business.</b></p>
          <h2>Return &amp; Exchange Policy</h2>
          <p>If you receive your order and it’s not what you expected, we apologize, but we do not accept returns or exchanges. When ordering from Black Anchor you are ordering from a very small team of crafts people who put heart, soul, and skill into each and every product. We craft each piece with close attention to detail, and we do not make it until it is ordered.</p>
          <p>Because of this made-to-order methodology we do not accept returns or exchanges. Please head over to <b>"Lifetime Guarantee"</b> to find out about our guarantee on your purchase.</p>
        </div>

        <div id="contact" class="tab-pane">
          <h3>For All Inquiries</h3>
          <p>
            <a href="mailto:stephen@blkancr.co">
              stephen@blackanchor.us
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>