<div id="content">
  <div class="pane">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
          <section ng-hide="reset">
            <header class="text-center">
              <h1>Restricted</h1>
            </header>

            {% form 'storefront_password' %}
            {% if form.errors %}
            <div class="alert alert-danger">
              {% for field in form.errors %}
                <div>{{form.errors.messages[field]}}</div>
              {% endfor %}
            </div>
            {% endif %}

            <div class="form">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
              </div>

              <button class="btn btn-primary btn-outline btn-rounded btn-block" type="submit">
                Enter
              </button>

              <hr>
            </div>
            {% endform %}
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
