<div ng-controller="productCtrl">
  <div class="pane">
    <div class="container">
      <div class="row row-centered">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-12">
              <figure class="product-image image">
                <img class="img-responsive"
                  ng-src="[[ variant.featured_image.src || product.featured_image ]]">
              </figure>
            </div>
          </div>
        </div>

        <div class="col-sm-4 text-center">
          <section>
            <header>
              <h1>[[ product.title ]]</h1>
              <h3 class="text-muted">
                <span ng-show="variant.price_varies">
                  [[ variant.price_min/100 | currency ]] -
                  [[ variant.price_max/100 | currency ]]
                </span>
                <span ng-hide="variant.price_varies">
                  [[ variant.price/100 | currency ]]
                </span>
              </h3>
            </header>

            <div class="content">
              <hr>

              <form action="/cart/add" method="post"
                ng-submit="addToCart(variant)">
                <div ng-if="product.variants.length > 1">
                  <div class="form-group"
                    ng-repeat="(i, option) in product.options">
                    <label>[[option]]</label>

                    <select class="form-control input-lg"
                      ng-options="v for v in variationsFor(option)"
                      ng-model="options[i]"></select>
                  </div>
                </div>

                {% if product.available %}

                <input type="hidden" name="id" value="[[variant.id]]">

                <button type="submit" class="btn btn-primary btn-outline btn-rounded btn-lg btn-block">
                  Purchase
                </button>

                {% else %}

                <p class="text-warning">
                  The {{ product.title | replace_first: 'The ','' }} will be available soon. To reserve this item for it's next launch subscribe to the newsletter.
                </p>

                <hr>

                {% include 'newsletter' %}

                {% endif %}

              </form>
            </div>
          </section>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>

  <div class="pane pane-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <h2 class="text-center">Details &amp; Stuffs</h2>
          <hr>
          <p class="text-center">Here's some info about a product or whatever.  Hope you like it, playa.</p>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-sm-4">
          <img src="//cdn.shopify.com/s/files/1/0211/0380/products/Black-Anchor-Backpack-4_1024x1024.jpg?v=1435912397" class="img-responsive">
        </div>

        <div class="col-sm-4">
          <img src="//cdn.shopify.com/s/files/1/0211/0380/products/Black-Anchor-Backpack-5_1024x1024.jpg?v=1435912397" class="img-responsive">
        </div>

        <div class="col-sm-4">
          <img src="//cdn.shopify.com/s/files/1/0211/0380/products/Black-Anchor-Backpack-7_1024x1024.jpg?v=1435912397" class="img-responsive">
        </div>
      </div>
    </div>
  </div>

  <div class="pane">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <h2 class="text-center">Designed for Comfort</h2>
          <hr>
          <p class="text-center">This stuff is super comfy. Comfy comfy all the way.</p>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center">
          <img src="//cdn.shopify.com/s/files/1/0211/0380/products/Black-Anchor-Backpack-3_1024x1024.jpg?v=1435912397" class="img-responsive">
        </div>
      </div>
    </div>
  </div>

  <!-- <div ng-bind-html="extra"></div> -->
</div>


<script>
  window.product = {{ product | json }};
  window.variant = {{ product.selected_or_first_available_variant | json }};
</script>