$brand-primary: #357b9c;

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


#drawer { display: none; }

@media (min-width: $screen-sm-min) {
  $dashboard-height: 36px;
  $header-height: 50px;

  body {
    padding-top: $dashboard-height + $header-height + ($grid-gutter-width / 2);
  }

  #dashboard .navbar-nav > li > a {
    padding:
      (($dashboard-height - $line-height-computed) / 2)
      ($navbar-padding-horizontal / 2);
  }

  #header .navbar-fixed-top {
    top: $dashboard-height;
  }
}



