$brand-primary: #357b9c;
$black: #000;
$white: #fff;

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.ng-cloak { display: none; }

#drawer { display: none; }

@media (min-width: $screen-sm-min) {
  $dashboard-height: 36px;
  $header-height: 50px;

  body {
    padding-top: $dashboard-height + $header-height;
  }

  #dashboard .navbar-nav > li > a {
    padding:
      (($dashboard-height - $line-height-computed) / 2)
      ($navbar-padding-horizontal / 2);
  }

  #header .navbar-fixed-top {
    top: $dashboard-height;
  }
}

.section {
  padding: ($line-height-computed * 2) 0 ($line-height-computed * 3);
}

.section-dark {
  background: $gray-dark;
  color: $gray-lighter;

  hr {
    border-color: $gray;
  }
}

.section-light {
  background: $gray-lighter;
}
