$brand-primary: #357b9c;
$black: #000;
$white: #fff;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.ng-cloak { display: none; }
[ng-click] { cursor: pointer; }

.flush { margin: 0; padding: 0; }

#drawer { display: none; }

@media (min-width: $screen-sm-min) {
  $dashboard-height: 36px;
  $header-height: 50px;

  body {
    padding-top: $dashboard-height + $header-height;
  }

  #dashboard .navbar-nav > li > a {
    padding:
      (($dashboard-height - $line-height-computed) / 2)
      ($navbar-padding-horizontal / 2);
  }

  #header .navbar-fixed-top {
    top: $dashboard-height;

    .navbar-collapse {
      max-height: none;
    }
  }
}

.section {
  padding: ($line-height-computed * 2) 0 ($line-height-computed * 3);
}

.section-dark {
  background: $gray-dark;
  color: $gray-lighter;

  hr {
    border-color: $gray;
  }
}

.section-light {
  background: $gray-lighter;
}
