.pane {
  position: relative;
  padding: ($line-height-computed * 3) 0;
  z-index: 1;

  background: $white;

  color: $text-color;

  hr {
    border-color: fade-out($black, 0.875);
  }
}

.pane-flush {
  padding: 0 !important;
}

.pane-dark,
.pane-black {
  background: $gray-dark;
  box-shadow: none;
  color: $gray-lighter;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: $gray-lighter;
  }

  hr {
    border-color: fade-out($white, 0.5);
  }
}

.pane-black {
  background: $black;
}

.pane-light,
.pane-white {
  background: $gray-lighter;
  box-shadow: none;
}

.pane-white {
  background: $white;
}

.pane-medium {
  background: mix($gray-light, $gray-lighter, 50%);
  box-shadow: none;

  hr {
    border-color: $gray-light;
  }
}

.pane-img {
  > img {
    max-width: none;

    opacity: 1;
    transition: opacity 1s ease;

    &.loading {
      opacity: 0;
      transition: none;
    }
  }
}

.pane-dim {
  > img,
  > video {
    opacity: 0.5;
  }
}

.pane-pad-lg {

}

[class*="pane-window"] {
  display: block;
  padding: 0;

  text-align: center;

  .pane-content {
    position: absolute;
    left: 0; top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100%;
    z-index: 1;

    background: rgba(0,0,0,0.5);

    color: $white;
  }

  .btn {
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}